<!DOCTYPE html>
<html lang="en" ng-app="TODOS">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.10/angular.min.js"></script>
    <script src="app.controller.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />
    <title>TODOS</title>
  </head>
  <body ng-controller="AppController">
    <h1>Todos</h1>
    <input
      type="text"
      ng-keyup="insert($event)"
      ng-model="input"
      class="form-control"
    />
    <div class="list-group">
      <button
        type="button"
        class="list-group-item list-group-item-action btn-outline-danger"
        ng-repeat="item in array track by $index"
        ng-click="remove(item)"
      >
        {{ item }}
      </button>
    </div>
  </body>
</html>
